*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.Clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.Container{
    width: 70%;
    margin: auto;
}

h3{
    color: #7cbb02;
}

.BG_White h3::after{
    content: '';
    width: 25%;
    height: 1px;
    background-color: #808080;

    text-align: center;
    display: block;
}

a{
    color: #5586bc;
}

hr{
    margin-top: 25px;
}

/* Utility */

.mr_10{
    margin-right: 10%;
}

.mb_20{
    margin-bottom: 20px;
}

.Grey_txt{
    color: #808080;
}

.Center{
    padding: 75px 0;
    text-align: center;
}

.BG_Blue{
    height: 500px;
    background-color: #0c325a;

    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 105% 110%;

    color: white;
    text-transform: uppercase;
}

.BG_Grey{
    background-color: #d3d3d3;
    height: 200px;
/*     line-height: 200px; */
}

.BG_White{
    background-color: white;

    margin-top: 25px;
}

.BG_White > div{
    float: left;
}

.Banner_Area{
    width: 50%;

    padding: 200px 0;
}

#Logo{
    margin-right: 5%;
}

.idk{
    width: 50%;
    height: 100%;
}

.Test{
    height: 150px;
    text-align: center;
}

#Test_Due{
    width: 60%;
}

.width_20{
    width: 20%;
}

.btn{
    background-color: #7cbb02;

    border-radius: 8px;
}

.btn_small{
    padding: 10px;
}

.btn_medium{
    padding: 20px;
    overflow: hidden;
}

.menu_centro{
    width: 45%;
}

.menu_destra{
    width: 35%;
    text-align: right;
}

nav{
    padding-top: 15px;
    line-height: 45px;
}

nav > div{
    float: left;

    margin-right: 25px;
}

nav div > span{
    margin-right: 20px;
}